.award_container{
    color: white;
    margin-bottom: 0;
}

.single_award{
    background: #132347;
    padding: 11px;
    border-radius: 10px;
    border-bottom: 1px solid #7865ff;
    border-right: 1px solid #7865ff;
}

.award_title span{
    font-weight: 300;
    color: white;
    opacity: 70% !important;
    padding: 1rem;
}

.award_year{
    color: white;
    margin-bottom: 10px;
}

/* responsive */
@media only screen and (max-width: 375px){
    .single_award{
        padding: 0.54rem;
    }
    .award_year{
        font-size: 0.8rem;
    }
    .award_title span{
        font-size: 0.7rem;
        padding: 0.2rem;
    }
    .single_award h6{
        font-size: 0.8rem;
    }
}