.table{
    border-collapse: collapse;
    border: 1px solid #132347;
    border-radius: 10px;
    margin-bottom: 0;
}
th, 
td{
    padding: 1.3rem 1rem !important;
    font-size: 0.9rem;
    text-align: center;
    color: #bab1fa;
}

thead{
    background: #7865ff;
    color: #fff;
}
thead tr th{
    color: white;
}

td{
    font-weight: lighter !important;
}

tr:nth-child(even){
    background: #102048;
}

td:last-child{
    padding-bottom: 0;
}