
.about_me_header {
    color: white;
    margin-top: 3.8rem;
    text-align: center;
    text-transform: uppercase;
}

.about_btns{
    background: #102048;
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;
}

.about_btn{
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    color: white;
    background: transparent;
    border-bottom: 1px solid #7865ff;
    border-radius: 5px 5px 0px 0px;
}

.about_btn-active{
    background: #7865ff;
}

.about_btn:last-child{
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}

.about_content_wrapper{
    background: #132347;
    border-radius: 10px;
    color: white;
    position: relative;
    padding: 0.7rem;
}

.about_content{
    width: 75%;
}

.about_content h2{
    margin-top: 17px;
    margin-bottom: 0.5rem;
    color: white;
    text-transform: capitalize;
}
.about_content p{
    font-weight: 300;
    color: #bab1fa;
    text-align: justify;
    margin-bottom: 20px;
}

.social_links span a {
    color: #bbb4f0;
}
.about_img img{
    border-bottom: 2px solid #c0c0c0;
}
.social_links span{
    margin-right: 1rem;
}

@media only screen and (max-width: 375px){
    #about{
        padding-top: 1rem;
    }
    .about_btns{
        font-size: 0.8rem;
    }
    .about_btn{
        padding: 2rem 0.3rem;
    }
    .about_content{
        padding: 0 0.4rem;
        width: 100% !important;
    }
    .header_about{
        margin-bottom: 0 !important;
    }
    .about_content p{
        font-size: 0.9rem;
        line-height: 1.64rem;
    }
    .social_links{
        text-align: center;
    }
    .about_content h2{
        font-size: 1.12rem;
        font-weight: bold;
    }
    .about_img{
        display: none;
    }
}


/* @media only screen and (max-width: 767px) {
    
    .button_content-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about_btn{
        padding: 1rem;
        font-size: 0.6rem;
    }

    .about_content h2{
        font-size: 1.6rem;
    }

    .about_content p{
        font-size: 0.8rem;
        line-height: 28px;
    }

    .about_img{
        height: 100px;
    }
} */