.container{
    z-index: 100;
    position: relative;
    margin-bottom: 1rem;
}
section h2{
    margin-top: 2rem;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
}
.single_info-box{
    background: #132347;
    padding: 1.3rem;
    border-radius: 5px;
    border-bottom: 1px solid #7865ff;
    margin-bottom: 1rem;
}

.single_info-box p{
    font-weight: 300;
    margin-top: 10px;
    font-size: 0.9rem;
    margin-bottom: 0;
    color: rgb(163, 163, 163);
    text-align: center;
}

.single_info-box h6{
    font-size: 1.1rem;
    color: white;
    text-align: center;
}