@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins' sans-serif;
  background: #0e1b31 !important;
}

html{
  scroll-behavior: smooth;
}
:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-black: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}
h1, h2, h3, h4, h5, h6{
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1,h2{
  font-size: 2rem;
  font-weight: 400;
}

p{
  color: white;
  opacity: 75%;
  font-size: 1rem;
  font-family: Verdana, Tahoma, sans-serif;
}

ul{
  list-style: none;
  margin: 0;
}

a{
  color: unset;
  font-family: "Poppins", sans-serif;
}

a:hover{
  color: unset;
}
/* ----------- HEADER --------- */
.header-wraper{
  position: relative;
  /* background: url(background.jpg); */
  /* background-size: cover;
  background-position: center; */
  height: 100vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins' sans-serif; 
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}

.main-info h4{
  color: var(--primary-orange);
}

/* --------- TYPED TEXT------- */
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

/* --------- BUTTON RESUME------- */
.btn-main-resume{
  color: var(--primary-white);
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin: 2rem;
  text-decoration: none;
}
.btn-main-resume:hover{
  color: var(--primary-white);
  border-color: var(--primary-orange);
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 1.5rem !important;
  }
  .typed-text{
    font-size: 1.2rem !important;
  }
  .btn-main-resume{
    font-size: 0.7rem !important;
  }
}

/* ----------PARTICLES---------- */
/* .particles{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
} */

/* ---------------CUSTOM SCROLL-BAR------------- */
::-webkit-scrollbar{
  width: 20px;
  color: #4860ca;
}

::-webkit-scrollbar-thumb{
  border-radius: 2em;
  background: #282f4e;
}


/* --------------responsive----------- */


@media only screen and (max-width: 992px){
  .nav_menu{position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7765ff69;
    z-index: 1000;
  }

  .nav_list{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #132347;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu_active{
    display: block;
  }
  .mobile_menu{
    display: block;
  }
}